<div class="ivp-card--large">
  <div class="ivp-card-content">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-8 ivp-card-text">
          <h3>${product}</h3>
          <hr>
          <p class="ivp-gopro-card-description">${description}</p>
          <p class="ivp-gopro-card-compat">${compat}</p>
        </div>
        <div class="ivp-col-4 ivp-card-image">
          <img src="${image}">
        </div>
      </div>
    </div>
  </div>
  <div class="ivp-gopro-card-footer">
    <div class="ivp-container">
      <div class="ivp-row">
        <div class="ivp-col-6">
          <h3 class="ivp-gopro-bundle-name">${bundle}</h3>
          <p class="ivp-gopro-card-price">${price}</p>
          <div class="ivp-gopro-cart-status">
            <span class="ivp-gopro-cart-icon"></span> Added to Cart</div>
        </div>
        <div class="ivp-col-6">
          <div class="ivp-card-ctas"><a class="ivp-card-cta ivp-card-cta--primary" href="#" target="_blank">Add Bundle To Cart</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

"<div class=\"ivp-card--large\"><div class=\"ivp-card-content\"><div class=\"ivp-container\"><div class=\"ivp-row\"><div class=\"ivp-col-8 ivp-card-text\"><h3>${product}</h3><hr><p class=\"ivp-gopro-card-description\">${description}</p><p class=\"ivp-gopro-card-compat\">${compat}</p></div><div class=\"ivp-col-4 ivp-card-image\"><img src=\"${image}\"></div></div></div></div><div class=\"ivp-gopro-card-footer\"><div class=\"ivp-container\"><div class=\"ivp-row\"><div class=\"ivp-col-6\"><h3 class=\"ivp-gopro-bundle-name\">${bundle}</h3><p class=\"ivp-gopro-card-price\">${price}</p><div class=\"ivp-gopro-cart-status\"><span class=\"ivp-gopro-cart-icon\"></span> Added to Cart</div></div><div class=\"ivp-col-6\"><div class=\"ivp-card-ctas\"><a class=\"ivp-card-cta ivp-card-cta--primary\" href=\"#\" target=\"_blank\">Add Bundle To Cart</a></div></div></div></div></div></div>"

{
  product: '',
  description: '',
  compat: '',
  image: '',
  bundle: '',
  price: ''
}
